
.header-table{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-table li{
  margin-right: 30px;
}

.h-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.h-box img{
  width: 100px;
  height: 100px;
}

li{
  list-style-type: none;
  margin: 10px;
}
a{
  font-size: 30px;
}
h2{
  margin-left: 0;
  justify-content: start;
}
.header{
  display: flex;
}