
.header-table{
  display: flex;
  justify-content: center;
  align-items: center;
  .header-table li{
    margin-right: 30px;
    .header-login-btn {
      border: none;
      cursor: pointer;
    }
  }
  .header_profile_image {
    width: 45px;
    height: 45px;
    border-radius: 100px;
  }
}

.h-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #6D5D99;
  .header_logo{
    width: 75px;
    height: 75px;
  }
}

li{
  list-style-type: none;
  margin: 10px;
}
a{
  font-size: 30px;
}
h2{
  margin-left: 0;
  justify-content: start;
}
.header{
  display: flex;
}