// footer
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
.image-box{
  width: 1980px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  animation: bannermove 20s linear infinite;
}
.image-box > div {
  margin: 0px 100px 0px 0px;
}
@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100%{
    transform: translate(-50%, 0);
  }
}