
@import "common";

$font-size: 16px;

.sign-in-full-screen{
  width: 100%;

  background: url("./img/UserLoginBackGround.png");
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/

  .sign-in-background{
    position: relative;

    width: 100%;
    padding: 14rem 0;

    background: linear-gradient(225deg, rgba(255,161,74,0.7) 0%, rgba(29,231,122,0.7) 100%);

    // sign-in
    .user-sign-in-modal{
      width: 40rem;
      margin: 0 auto; padding: 3rem 3rem 5rem;

      background: #ffffff30;
      border: 5px solid #ffffff; border-radius: 20px;

      .LONI-QUIZ-logo{
        width: 225px; height: 160px;
        background: url("./img/LOINQUIZ_logo.png") no-repeat;

        margin: 0 auto;
      }

      .sign-in-items{
        margin-top: 2.5rem;

        display: flex; flex-flow: row wrap;
        justify-content: space-between;

        .sign-in-id-item
        , .sign-in-password-item{
          width: 100%;
          margin-bottom: 1rem;
          padding: 1rem;

          background: #ffffff;
          border-radius: 10px;

          display: flex; flex-flow: row nowrap;

          svg{
            width: 2.4rem; height: 2.4rem;
          }

          input{
            width: 75%;
            padding-left: 1rem;
            font-size: 1.5rem;
          }

        }

        .auto-sign-in-check{
          font-size: 1.3rem; font-weight: bold;
          color: #9e9e9e;

          display: flex; align-items: center;

          svg{
            width: 2.2rem; height: 1.7rem;
            padding-right: 0.5rem;
          }

        }

        .user-sign-up-move-link{
          text-decoration: none; outline: none; border: none;

          font-size: 1.3rem; font-weight: bold; color: #333333;
        }

      }

      .sign-in-buttons{
        margin-top: 3rem;

        display: flex; flex-flow: column wrap;

        .sign-in-error-message {
          color: #ff2e2e;
          //display: none;
        }

        .loni-quiz-sign-in-button
        , .kakao-sign-in-button {
          background: linear-gradient(225deg, rgba(255,161,74,1) 10%, rgba(29,231,122,1) 100%);
          border-radius: 12px;

          width: 100%;
          margin-bottom: 1rem;
          padding: 1.5rem 2rem;

          display: flex;
          align-items: center; justify-content: center;

          font-size: 1.7rem;

          img{
            height: 2rem;
            padding-right: 1rem;
          }

        }

        .kakao-sign-in-button{
          background: #FEE500;
        }

      }

    }

  }

}

@media (max-width: 1500px) {
  .sign-in-full-screen {
    width: 1500px;
  }
}