
body {
  background-color: #ffffff;
}

.lobby_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.lobby_box1 {
  display: flex;
  float: left;
}

.lobby_bbox1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  height:auto;

  .profile {
    border-radius: 20px 0 0 20px;
    background-color: #dbff00;
    width: 204px;
    height: 320px;
    flex: 0 1 auto;

    .profile_image{
      width: 150px;
      height: 150px;
      background: #00a900;
      border-radius: 75px;
      margin: 30px;
    }

    p {
      font-weight: 700;
      font-size: 25px;
      text-align: center;
    }
  }

}

.btns_box {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-top: auto;
  justify-content: center;
  .setting_btn {
    border-radius: 20px 0 0 20px;
    width: 204px;
    height: auto;
    color: #FFFFFF;
    background-color: #800080;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    &:hover {
      background-color: #cc01cc;
      color: #FFFFFF;
    }
  }
  .create_room_btn {
    border-radius: 20px 0 0 20px;
    color: #FFFFFF;
    width: 204px;
    font-size: 25px;
    height: auto;
    background-color: #0000ff;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #6161ff;
      color: #FFFFFF;
    }
  }
  .start_game_btn {
    border-radius: 20px 0 0 20px;
    color: #FFFFFF;
    width: 204px;
    height: auto;
    font-size: 25px;
    background-color: #ff0000;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #ff5858;
      color: #FFFFFF;
    }
  }
}

.lobby_box2 {
  float: left;
  background-color: #151c23;
  width: 70%;
  height: auto;
  overflow: hidden;
  .room_list {
    width: 100%;
    height: 400px;
    margin-bottom: auto;
    overflow: auto;
    overflow-y: scroll;
    .room_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      .list{
        margin: 20px;
        border: 2px solid transparent;
        border-radius: 20px;
        background-color: #d8e4ff;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #737c92;
          color: #FFFFFF;
        }
        span {
          font-size: 15px;
          font-weight: 300;
          margin-left: 20px;
        }
        h2 {
          margin-left: 20px;
          font-size: 20px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

    }

  }

}