// 모달 페이지 (메뉴 버튼을 눌렀을 시 나오는 전환용 페이지)
// 친구 추가(검색) 리스트
.add_friend_menu {

  h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .lobby_search_friend_box {
    margin-bottom: 10px;
  }
  .search_friend_list {
    li {
      display: flex;
      justify-content: space-between;
      p {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

// 친구창 리스트
.list_friend_menu {
  h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .list_friends_box {
    li {
      display: flex;
      justify-content: space-between;
      p {
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

// 채팅창 리스트
.chat_friend_menu {
  .chat_friend_menu_header {
    h2 {
      font-size: 40px;
      margin-bottom: 15px;
    }
  }
  .chat_list {
    .chat_list_ch {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      cursor: pointer;
      h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

// 채팅창 화면
.chat_friend_menu_ch {
  .chat_friend_menu_ch_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
    }

    .chat_out {
      background-color: #9B9AE2;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .chat_texts {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px;

    // 왼쪽에 위치하는 상대방 말풍선 스타일
    .your_text_balloon {
      background-color: #1ddc8c;
      align-self: flex-start;
      border-radius: 15px 15px 15px 0;
      margin-bottom: 10px;
      min-width: 50px;
      max-width: 70%;
      word-wrap: break-word;
      padding: 10px;
    }

    // 오른쪽에 위치하는 내 말풍선 스타일
    .my_text_balloon {
      background-color: #78c7d2;
      align-self: flex-end;
      border-radius: 15px 15px 0 15px;
      margin-bottom: 10px;
      min-width: 50px;
      max-width: 70%;
      word-wrap: break-word;
      padding: 10px;
    }
  }

  .my_input_text {
    input {
      width: 200px;
      height: 40px;
    }
    .send_text_to {
      cursor: pointer;
    }
  }
}



// return SCSS (단, 전체적 모달 부분은 제외한다.)

.game_friend_modal_container {
  .game_friend_modal_page {

  }
  .game_friend_modal_menu {

    .add_fri_btn,
    .list_fri_btn,
    .chat_fri_btn {
      flex: 1;
      border-radius: 100px;
      border: none;
      background-color: #FFFFFF;
      cursor: pointer;
    }
  }
}