
body {
  background-color: #20c997;
}

.lobby_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.lobby_box1 {
  display: flex;
  background-color: yellow;
  float: left;
}

.lobby_bbox1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height:auto;

  .profile {
    background: coral;
    width: 200px;
    height: 320px;
    flex: 0 1 auto;

    .profile_image{
      width: 150px;
      height: 150px;
      background: darkseagreen;
      border-radius: 70px;
      margin: 20px;
    }

    p {
      text-align: center;
    }
  }

}

.btns_box {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-top: auto;

  .setting_btn {
    width: 200px;
    height: auto;
    color: #000000;
    background-color: #800080;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #cc01cc;
      color: #FFFFFF;
    }
  }
  .create_room_btn {
    width: 200px;
    height: auto;
    color: #000000;
    background-color: #0000ff;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #6161ff;
      color: #FFFFFF;
    }
  }
  .start_game_btn {
    width: 200px;
    height: auto;
    color: #000000;
    background-color: #ff0000;
    border: none;
    padding: 20px 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #ff5858;
      color: #FFFFFF;
    }
  }
}

.lobby_box2 {
  float: left;
  background-color: grey;
  width: auto;
  height: auto;
  .room_list {
    width: 600px;
    height: 400px;
    li {
      margin: 20px;
      border: 2px solid transparent;
      border-radius: 20px;
      background-color: #bfd1f3;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #737c92;
        color: #FFFFFF;
      }
      h2 {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
      }
    }

  }
  .chat_box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 200px;
    background-color: chartreuse;
    ul {
      margin: 20px;
      margin-bottom: auto;
    }
    .input-group {
      margin: 20px;
      margin-top: auto;
      input {
        width: 100%;
        min-height: 38px;
        padding-left: 10px;
        float: left;
        width: calc(100% - 10px);
        font-size: 15px;
        background-color: #ffffff;
        color: #000000;
        border: 0px;
      }
    }
  }
}